<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Lodyr: YT to .mp3</title>
</head>

<body>
    <div class="wrapper">
        <form action="/convert-mp3" method="POST" id="convert-form" class="pg-form">
            <h1 class="pg-form__title">Lodyr</h1>
            <h2 class="pg-form__subtitle">YouTube to .mp3 coverter</h2>
            <p>Paste URL of YouTube video you want to convert below:</p>
            <input type="text" name="videoUrl" class="pg-form__input" placeholder="YouTube URL goes here..." />
            <small>(Note: Video must not exceed 10min. lenght)</small>
            <button id="convert-btn" class="pg-form__button">Convert</button>
            <div id="loader" class="pg-loader-wrapper hidden">
                <div class="pg-loader"></div>
            </div>
            <% if(typeof success !="undefined" && success) { %>
                <section class="pg-notification">
                    <div class="pg-notification__success">
                            <div class="pg-notification__song-info">
                                <small><%= song_duration %>&nbsp;</small>
                                <span><%= song_title %></span>
                            </div>
                            <a href="<%= song_link %>" class="pg-notification__dwnload-link">
                                <button id="download-btn" class="pg-notification__dwnload-btn pg-form__button--secondary" type="button">
                                    Download <br> 
                                    <small>[<%=song_size %>]</small>
                                </button>
                            </a>
                    </div>
                </section>
                <% } else if(typeof success !="undefined" && !success) { %>
                    <section class="pg-notification">
                        <div class="pg-notification__errors">
                            <small><%= message %></small>
                        </div>
                    </section>
                <% } %>
        </form>
    </div>
</body>
<script>
    window.addEventListener('submit', (e) => {
        const btn = document.getElementById("convert-btn")
        const loader = document.getElementById("loader")
        loader.classList.remove("hidden")
        btn.setAttribute('disabled', true)
        btn.textContent = 'Converting...'
    })
</script>

</html>