<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Lodyr: YT to .mp3</title>
</head>

<body>
    <div class="wrapper">
        <form action="/convert-mp3" method="POST" id="convert-form" class="pg-form">
            <h1 class="pg-form__title">Lodyr</h1>
            <h2 class="pg-form__subtitle">YouTube to .mp3 coverter</h2>
            <p>Paste YouTube url of video you want to convert in the input below:</p>
            <small>(Video must not exceed 10min. lenght)</small>
            <input type="text" name="videoUrl" class="pg-form__input" placeholder="YouTube url goes here..." />
            <button id="convert-btn" class="pg-form__button">Convert</button>
            <% if(typeof success !="undefined" && success) { %>
                <div class="pg-notification">
                    <div class="pg-notification__success">
                        <p>
                            <small>
                                <%= song_duration %>&nbsp;
                            </small>
                            <%= song_title %>
                            [<%=song_size %>]
                                <a href="<%= song_link %>" class="pg-notification__dwnload-link">
                                        <button id="download-btn" class="pg-notification__dwnload-btn"
                                            type="button">Download</button>
                                </a>
                        </p>
                    </div>
                </div>
                <% } else if(typeof success !="undefined" && !success) { %>
                    <div class="pg-notification">
                        <div class="pg-notification__errors">
                            <small>
                                <%= message %>
                            </small>
                        </div>
                    </div>
                    <% } %>
        </form>
    </div>
</body>

</html>